{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}


{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('cart') }}">Panier</a></li>
            <li class="breadcrumb-item active" aria-current="page">Livraison</li>
        </ol>
    </nav>
    <h2>Livraison</h2>
    <p>Choisissez vos préférences de livraison.</p>
    <hr />
    <div class="row">
        {% set formHtml %}
            {{ form_start(form_order, { action:path('order_summary') }) }}
                {{ form_label(form_order.addresses,'Choisissez votre adresse de livraison :' ) }}   
                <a href="{{ path('back_account_add_address') }}">Ajouter une nouvelle adresse</a>
            {{ form_end(form_order) }}
        {% endset %}
        <div class="col-md-6">
            {{ formHtml|replace({'[br]':'<br />'})|raw }} 
        </div>
        <div class="col-md-6">
            <h3>Recapitulatif de ma commande</h3>
            <div class="table-responsive">
                <table class="table">
                {% set total = null %}
                {% for product in products %}
                    <tr>
                        <td>
                            <img src="products/{{ product.product.image }}" class="img-fluid" alt="{{ product.product.name }}" style="height:50px;"/>
                        </td>
                        <td class="align-middle">
                            {{ product.product.name }}<br />
                            <small>{{ product.product.subtitle }}</small>
                        </td>
                        <td class="text-end align-middle">                            
                            x {{ product.quantity }}                             
                        </td>
                        <td  class="text-end align-middle">
                            {{ ((product.product.price * product.quantity) / 100) | number_format(2) }} €
                        </td>
                    </tr>
                    {% set total = total + (product.product.price * product.quantity) %}   
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
